.hero{
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
  color: #fff;

  background-image: url('/img/colegio1.jpg'); /* usa public/img/colegio1.jpg */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.hero__overlay{
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,.5); /* oscurece para que el texto se lea */
}
.hero__inner{
  position: relative;
  z-index: 1;
}
