footer {
  background: #0a0a0a;
  color: #ccc;
  text-align: center;
  padding: 20px;
  border-top: 1px solid rgba(255,255,255,.1);
}

footer nav {
  margin-bottom: .8rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

footer nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

footer nav a:hover {
  color: #ffd60a;
}
